.sale_card{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    .css-wb57ya-MuiFormControl-root-MuiTextField-root{
        margin: 0 20px;
    }
    
    .css-1869usk-MuiFormControl-root{
        width: 100%;
        min-width: auto;
        margin: 0 20px;
    }
    .client_info_container{
        width: 200%;
        display: flex;
    }
}

